@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css?family=Passion+One";

:root {
  --bg-color: snow;
  --pad-bg: rgba(13, 13, 13, 0.2);
  --pad-active: tomato;
  --text-color: rgba(255, 250, 250, 0.5);
  --velocity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #353839; /* Black Onyx Pantone color */
    --pad-bg: rgba(255, 250, 250, 0.1);
    --pad-active: crimson; 
    --text-color: rgba(255, 250, 250, 0.1);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Passion One", cursive;
  position: absolute;
  inset: 0;
  user-select: none;
  touch-action: manipulation;
}

section {
  overflow: hidden;
}

section.pads {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  gap: 0.1em;
  font-size: 5vmin;
  width: 100vmin;
  height: 100vmin;
}

section.pads .pad {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--pad-bg);
  color: var(--text-color);
  transition: background 0.3s ease-in, transform 0.3s ease-in;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  --velocity: 1;
}

section.pads .pad:active,
section.pads .pad.active {
  background: var(--pad-active);
  transform: scale(0.95);
  transition-duration: 0.1s;
  --velocity: 1;
}
