@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "https://fonts.googleapis.com/css?family=Passion+One";

:root {
  --bg-color: snow;
  --pad-bg: rgba(13, 13, 13, 0.2);
  --pad-active: tomato;
  --text-color: rgba(255, 250, 250, 0.5);
  --velocity: 1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #353839; /* Black Onyx Pantone color */
    --pad-bg: rgba(255, 250, 250, 0.1);
    --pad-active: crimson; 
    --text-color: rgba(255, 250, 250, 0.1);
  }
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Passion One", cursive;
  position: absolute;
  inset: 0;
  user-select: none;
  touch-action: manipulation;
}

section {
  overflow: hidden;
}

section.pads {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-template-areas: 
    "crash cowb ride"
    "lotom midtom hitom"
    "clap sst ohh"
    "kick sd chh";
  gap: 0.1em;
  font-size: 5vmin;
  width: min(100vw, 75vh);
  height: calc(min(100vw, 75vh) * 4/3);
  max-width: 100vw;
  max-height: 100vh;
}

@media (orientation: landscape) {
  section.pads {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
      "lotom midtom hitom ride"
      "clap sst ohh cowb"
      "kick sd chh crash";
    height: min(100vh, 75vw);
    width: calc(min(100vh, 75vw) * 4/3);
    max-width: 100vw;
    max-height: 100vh;
  }
}

section.pads .pad {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--pad-bg);
  color: var(--text-color);
  transition: background 0.3s ease-in, transform 0.3s ease-in;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  --velocity: 1;
  aspect-ratio: 1 / 1; /* Ensure pads are always square */
}

section.pads .pad:active,
section.pads .pad.active {
  background: var(--pad-active);
  transform: scale(0.95);
  transition-duration: 0.1s;
  --velocity: 1;
}

section.pads .pad[data-sound="cowb"] { grid-area: cowb; }
section.pads .pad[data-sound="crash"] { grid-area: crash; }
section.pads .pad[data-sound="ride"] { grid-area: ride; }
section.pads .pad[data-sound="lotom"] { grid-area: lotom; }
section.pads .pad[data-sound="midtom"] { grid-area: midtom; }
section.pads .pad[data-sound="hitom"] { grid-area: hitom; }
section.pads .pad[data-sound="chh"] { grid-area: chh; }
section.pads .pad[data-sound="ohh"] { grid-area: ohh; }
section.pads .pad[data-sound="sst"] { grid-area: sst; }
section.pads .pad[data-sound="kick"] { grid-area: kick; }
section.pads .pad[data-sound="sd"] { grid-area: sd; }
section.pads .pad[data-sound="clap"] { grid-area: clap; }
